/* font-family: 'Kumbh Sans', sans-serif; 400 700*/

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

/* General */
body {
  font-size: 18px; /* name and stats */
}

main {
  background-image: url(../images/bg-pattern-top.svg);
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
}

@media only screen and (min-width: 1440px) {
  body {

  }
}
